@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: #06122e;
    color: white;
    scroll-behavior: smooth;
}
label {
    cursor: pointer;
}
input {
    color: #06122e;
}
button {
    padding: 8px 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.1s ease-in;
    text-transform: capitalize;
}
button:hover {
    opacity: 0.8;
}
button:active {
    opacity: 1;
}
button:disabled {
    cursor: not-allowed;
}

.loadingContainer {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #f3096a52;
}
.loadingBar {
    height: 100%;
    background-color: #ff006a;
    transition: width 0.5s ease-in-out;
}
